<!doctype html>
<html>
	<!--head>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<title>Meadowlark Travel</title>
	</head>
	<style>

	body{
		padding:0px;
		margin:0px; 
}
	.header-footer{
		padding: 0;
		width: 100%;
		height: 65px;
		margin: 0;
		font-size: 13px;
		background-color:#303030;
		opacity:0.8;
	}


	</style>
	<body background-color='black'>
		<div id="header" class="header-footer" >
			<span>Ping Me </span>
		</div-->

			{{{body}}}
	
	<!--/body-->
</html>
