<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta charset="utf-8"/>
      <title>Waste Management</title>
      <!--[if lte IE 8]><script src="/javascripts/js/html5shiv.js"></script><![endif]-->
		<script src="/javascripts/js/jquery.min.js"></script>
		<script src="/javascripts/js/skel.min.js"></script>
		<script src="/javascripts/js/skel-layers.min.js"></script>
		<script src="/javascripts/js/init.js"></script>
			<link rel="stylesheet" href="/stylesheets/css/skel.css" />
			<link rel="stylesheet" href="/stylesheets/css/style.css" />
			<link rel="stylesheet" href="/stylesheets/css/style-xlarge.css" />
      
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="jquery-ui.css" />
    <link rel="stylesheet" href="primeui.min.css" />
    <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="/javascripts/primeui.min.js"></script>
    
    <script type="text/javascript" src="/javascripts/js/login.js"></script>
    
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
   </head>
   <body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">Waste Management</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="dashBoard.html">DashBoard</a></li>
						<li><a href="signUp.html" class="button special">Register</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>LOGIN</b></h2>
				<p>Welcome Back. Please Login to proceed</p>
				
			
			<div id="loginDialog" title="Login">
				<form id="form" method="post">
					<div id="userIdDiv"><label>UserId</label>
					<input type="text" name="userId" id="userId" placeholder="UserId"/><br></div>
					<div id="passwordDiv"><label>Password</label>
					<input type="text" name="password" id="password" placeholder="Password"/></div>
				</form>
				<button id="loginButtonId" class="btn btn-default">Login</button>
			</div>
			</section>

		

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<section class="links">
						<div class="row">
							<section class="3u 6u(medium) 12u$(small)">
								<h3><a href="#">Home</a></h3>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3><a href="#">Corporate</a></h3>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3><a href="#">Industry</a></h3>
							</section>
							<section class="3u 6u$(medium) 12u$(small)">
								<h3><a href="#">My Account</a></h3>
							</section>
						</div>
					</section>
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; TeamRe. All rights reserved.</li>
							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
	</body>
</html>
